/target
jobsearch.db*
jobsearch.toml
*.db
lance/

# Frontend
frontend/node_modules
frontend/dist

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
/models
